<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="swirth" translate="label" sortOrder="999">
            <label>swirth</label>
        </tab>
        <section id="whatsapp" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Whatsapp</label>
            <tab>swirth</tab>
            <resource>Swirth_Whatsapp::config_swirth_whatsapp</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="whatsapp_number" type="text" sortOrder="10" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Whatsapp_number</label>
                    <comment/>
                </field>
                <field id="message" type="textarea" sortOrder="10" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Message</label>
                    <comment/>
                </field>
                <field id="position" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Position</label>
                    <comment/>
                    <source_model>Swirth\Whatsapp\Model\Config\Source\Position</source_model>
                </field>
                <field id="size" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Size</label>
                    <comment/>
                    <source_model>Swirth\Whatsapp\Model\Config\Source\Size</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
